<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 block">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title h2 block-header">
                            <span>Scenarios</span>
                            <button type="button" class="btn btn-default" ng-click="app.openScenarioModal()">Add
                                Scenario
                            </button>
                        </h2>
                        <div class="block-body">
                            <ul class="list">
                                <div ng-if="!app.scenarios.length" class="info">
                                    <h3 class="text-center">Add Scenario</h3>
                                </div>
                                <li class="list__item" ng-repeat="sc in app.scenarios track by $index"
                                    ng-click="app.selectScenario(sc.id)">
                                    {{sc.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title h2 block-header">
                            <span>Steps</span>
                            <button type="button" class="btn btn-default" ng-click="app.openStepModal()">Add Step
                            </button>
                        </h2>
                        <ul
                                class="list"
                                dnd-list="app.steps"
                                dnd-disable-if="true"
                        >
                            <div ng-if="!app.steps.length" class="info">
                                <h3 class="text-center">Add Steps</h3>
                            </div>
                            <li class="list__item grab-cursor"
                                ng-repeat="item in app.steps track by $index"
                                dnd-draggable="item"
                                dnd-moved="app.steps.splice($index, 1)"
                                dnd-effect-allowed="copy"
                                dnd-selected="app.selectedStep = item"
                                ng-class="{'selected': app.selectedStep === item}"
                            >
                                <span>{{item.key}}</span>
                                <span class="icon glyphicon glyphicon-pencil" ng-click="app.openStepModal(item)"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 block">
                <h2 ng-if="!app.selectedScenario.name" class="text-center">Scenario</h2>
                <h2 ng-if="app.selectedScenario.name" class="title h2 block-header text-center">
                    Selected scenario "{{app.selectedScenario.name}}"
                </h2>
                <div ng-if="app.selectedScenario.name"
                     class="block-body">
                    <ul class="list"
                        dnd-list="app.selectedScenario.steps"
                        dnd-inserted="app.applyNewStepIds()"
                    >
                        <div ng-if="app.selectedScenario.name && !app.selectedScenario.steps.length" class="info">
                            <h3 class="text-center">Drag and drop Steps to Scenario</h3>
                        </div>
                        <li class="list__item grab-cursor"
                            ng-repeat="item in app.selectedScenario.steps track by $index"
                            dnd-draggable="item"
                            dnd-moved="app.movedStepInSelectedScenario($index)"
                            dnd-copied="app.applyNewStepIds()"
                            dnd-effect-allowed="copyMove"
                            dnd-selected="app.selected = item"
                            ng-class="{'selected': app.selected === item}"
                        >
                            <span>{{item.key}}</span>
                            <span ng-click="app.removeStepFromScenario($index)" class="icon glyphicon glyphicon-remove"></span>
                        </li>
                    </ul>
                </div>
                <div ng-if="!app.selectedScenario.name" class="info">
                    <h3 class="text-center">Select Scenario</h3>
                </div>
            </div>
            <div class="col-md-3 block">
                <h2 class="title h2 block-header">
                    <span>YAML</span>
                    <button uib-tooltip="Copy to clipboard" ngclipboard data-clipboard-target="#yaml" ng-disabled="!app.yamlStringPreview" class="btn btn-default" type="button" >
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>
                </h2>
                <textarea readonly id="yaml" class="textarea-yaml" ng-model="app.yamlStringPreview"></textarea>
            </div>
        </div>
    </div>
</main>
